<!--<?XML version = "1.0" encoding = "UTF-8" ?>-->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssuredFrameworkPart2TestSuite">
    <listeners>
        <listener class-name="reporting.Setup"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/home/vpsr/IdeaProjects/RestAssuredFrameworkPart2/src/test/java/User/UserTest.java">
        <classes>
            <class name = "User.UserTest">
                <methods>
                    <include name="createUser"/>
                    <include name="getUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
